:root {
    --transition-1: all 0.3s ease-in-out;
    --transition-2: all 0.2s ease-in-out;
    --textbackground: #F4F8FF;
    --buttonBG: #6371B6;
    --searchWordColor: #BEA9D2;
  }
  
  html {
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .header {
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
  }
  .body
  {
      max-width:500px;
      margin:auto;
  }
  .no_result {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    color: #212121;
    transition: all 0.1s ease-in-out;
    border-radius: 0.35rem;
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
    outline: none;
  }
  h1 {
    color: var(--searchWordColor);
    transition: var(--transition-1);
  }
  
  h1 > a {
    text-decoration: none;
    color: var(--searchWordColor)
  }
  
  h1 > a::selection {
    color:var(--searchWordColor)
  }
  
  h4 {
    margin-bottom: 5px;
    color: var(--searchWordColor);
  }
  
  h4::selection {
    color: var(--searchWordColor);
  }
  
  .mode {
    margin-top: 20px;
  }
  .selection {
    margin-top: 25vh;
    font-size: 2rem;
    font-weight: bold;
    color: var(--searchWordColor);
    transition: var(  --transition-1);
  }
  .selection::selection {
    color: #64ceaa;
  }
  
  @media only screen and (max-width: 600px) {
    .selection {
      margin-top: 15vh;
    }
  }
  button
  {
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 15%);
  }
  #page_wrapper
  {
    margin-bottom:90px;
  }
  .column img
  {
    max-height: 310px;
  }
  #buttonWrapper
  {
    position:relative; align-items: center; justify-content: center; display: flex; z-index:1;
  }
  #buttonWrapper button
  {
    margin: 0px 3px !important;
    color: #c9467f;
    background-color: white;
  }
  
  .resource-grid
  {
    position: relative;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    margin:auto;
    padding-top:0px;
    left: 0%;
    transition: ease all 0.3s;
  }
  .card-resources
  {
    max-width:290px;
    display:block;
    text-align: center;
    background-color: var(--textbackground);
    border-radius: 25px;
    position:relative;
    padding-bottom:3%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 32px;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 15%);
  }
  .card-resources img
  {
    justify-content: center;
    width : 100%;
    height:auto;
    margin-bottom: 5%;
  }
    /* Container needed to position the button. Adjust the width as needed */
.card-resources_ImageContainer {
  position: relative;
  width: 100%;
  margin-bottom:15px;
}
.column h1 p
{
  font-family: 'Asap';
}
.column h1
{
  font-weight: bold;
  font-style: italic;
  font-size: 42px;
  color: #4E4B6D;
}
.card-resources h4 
{
  color:#4E4B6D;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

}
  .card-resources p
  {
    padding-bottom: 12%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat';
    margin-bottom: 20px;
  }
  .card-resources button
  {
    border-radius: 75px;
    color: white;
    cursor: pointer;
    border-style: none;
    z-index:1;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 15%);
  }
  .card-resources .card-resources_Button
  {
    position:absolute;
    bottom:0;
    transform:translateX(-50%);
    margin-bottom:18px;
    background-color: var(--buttonBG);
  }
  .nav-container ul li
  {
    padding-right:5px;
  }
  /*this is the resource hub header*/
  #header
  {
    display: grid;
    position:relative;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
    height: auto;
    z-index:2;
  }
  .headerContainer
  {
    background: url(/uploads/ResourceImage/ResourceHubHeader.png);
    background-repeat: no-repeat;
    max-height: 350px;
    margin-bottom: 20px;
  }
  #header__autoComplete
  {
    margin:auto;
    position:relative;
    z-index:10;
  }
  .header__squigglyHeader
  {
  position: relative;
  top: 100%;
  left: 0%;
  transform: translate(0%, -70%);
  -ms-transform: translate(0%, -70%);
  min-height: 45px;
  margin-bottom:min(57.141px);
  max-height: 146px;
  height:clamp(20px, 8%, 146px);
  z-index: 1;
  width:100%;
  }
  .header__squigglyHeader img
  {
    position:relative;
    z-index: 1;
  }
  #autoComplete
  {
    width:90%;
    min-width: 300px;
    height:45px;
    border-radius:50px;
    border-color: #cdcff8; 
    color: var(--searchWordColor);
    padding-left: 20px;
    padding-right:20px;
    background-color: white;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 15%);
     position:relative;
     z-index:600;
     margin-bottom: 0px;
     padding-right:50px;
  }
  .magnifyingGlass
  {
    background-image: url("/uploads/ResourceImage/magnifyingGlassCopy2.png");
  }
  .noGlass
  {
    background-image: url("/uploads/ResourceImage/xButton-removebg-preview.png");
    background-size: 55px;
  }
.column
{
  display: block;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  z-index:1;
  text-align:center;
}
#header__imageLeft
{
  right: 0;
}
/*these are buttons because images have
these weird black thing on their edges which
makes it look quite ugly*/
.small
{
  border: 2px solid #4E4B6D !important;
  width:50px !important;
  height: 50px;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:white;
}

/*autoComplete stuff here*/
.autoComplete_wrapper {
  display: inline-block;
  position: relative;
  z-index: 600;
}
.autoComplete_wrapper > input {
  font-size: 1rem;
  color: rgb(116, 116, 116);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.autoComplete_wrapper > input::placeholder {
  color: var(--searchWordColor);
  transition: all 0.3s ease;
}
.autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0.5rem 0 0 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, 0.1);
  outline: none;
}
.autoComplete_wrapper > ul > li {
  padding: 10px 20px;
  list-style: none;
  text-align: left;
  font-size: 16px;
  color: var(--searchWordColor);
  transition: all 0.1s ease-in-out;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  z-index: 600;
}
.nav-resources a
{
    color: #606eb0;
    border-bottom: 3px solid #606eb0;
    cursor:default;
    pointer-events: none;
}

.autoComplete_wrapper > ul > li::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}
.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: rgba(123, 123, 123, 0.1);
}
.autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: var(--buttonBG);
  font-weight: bold;
}
.autoComplete_wrapper > ul > li mark::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}
.autoComplete_wrapper > ul > li[aria-selected="true"] {
  background-color: rgba(123, 123, 123, 0.1);
}
@media only screen and (max-width: 600px) {
  .autoComplete_wrapper > input {
    width: 18rem;
  }
}
@media screen and (max-width: 1510px) 
{
  #header
  {
    grid-template-columns: 30% 40% 30%;
  }
}

@media screen and (max-width: 991px){
  .cardResources
  {
    display:block;
    text-align: center;
    background-color: var(--textbackground);
    border-radius: 25px;
    position:relative;
    padding-bottom:3%;
    margin-bottom: 8%;
  }
  .column img 
  {
    padding:0px;
    display: none;
    visibility: hidden !important;
  }
  #header
  {
    grid-template-columns: 100%;
    padding-top:5%;
  }
  .resource-grid
  {
    /* transform: translate(0%, 0%); */
    grid-template-columns: 50% 50%;
    margin-bottom:5%;
    padding-left: 5%;
    padding-right:5%;
  }
  .card-resources_Title
  {
    margin-top: 5%;
  }
  .card-resources_Button
  {
    bottom:0;
  }
  .header__squigglyHeader
  {
    position: relative;
    top: 100%;
    left: 0%;
    transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    margin:0%;
    padding:0%;
  }
  #headerContainer
  {
    position:relative;
    margin:auto;
  }
  @media screen and (max-width: 720px)
  {
    #headerContainer #container
    {
      min-height: 30px;
      padding-bottom:clamp(1px, 1%, 15px);
    }
    .column #header__imageLeft
    {
      padding:0px;
    }
  .resource-grid
  {
    grid-template-columns: 100%;
    position: relative;
    margin-bottom: 5%;
    padding-left:auto;
    padding-right:auto;
  }
  .card-resources_ImageContainer img
  {
    display: none;
    visibility: hidden !important;
  } 
  .card-resources_ImageContainer
  {
    margin-bottom: 12%;
  }
  .cardResources
  {
    width:100%;
    min-width:100px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom:40px;
  }
  #buttonWrapper
  {
    flex-direction: column;
    margin-bottom: 8px;
  }
  #buttonWrapper button
  {
    margin: 3px 0px !important;
  }
  }
}